.subject {
  font-family: 'Papyrus', fantasy, sans-serif;
  font-size: 28px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 90%;
  margin: 1.5rem auto;
}
