.screenersContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-icon {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.screenersList {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  height: auto;
  max-height: 800px;
}

.screenersListHeader {
  text-align: center;
  margin-bottom: 20px;
}

.screenersListHeader p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.screenersListItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.screenersListItems li {
  font-size: 24px;
  margin: 10px 0;
  padding: 18px 28px;
  color: navy;
}

.label {
  font-weight: bold;
  margin-right: 20px;
}

.value {
  font-weight: normal;
}

.screenersListItems li::after {
  margin-left: 5px;
  font-weight: bold;

}

.screenersListItems li:nth-child(odd) {
  background-color: aquamarine;

}

.screenersListItems li:nth-child(even) {
  background-color: #aed0f1;
}
