.company-item {
  color: #fff;

}

  input {
    width: 100%;
    outline: none;
    padding: 1rem;
  }

  .company-header {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #578ef4;
  }

    .title-icon {
      width: 50%;
      text-align: right;
      margin-right: 2rem;
    }

      .icon {
        font-size: 12rem;
        color: #304b7e;
      }


    h1 {
      width: 50%;
      padding-right: 4rem;
      font-size: 2rem;
      font-weight: 900;
    }
  
